div .produtos {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}


div .card img {
    max-width: 300px;
    max-height: 200px;
}